/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-site-prober-log-viewer table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

.wp-block-site-prober-log-viewer th,
.wp-block-site-prober-log-viewer td {
  border: 1px solid #ccd0d4;
  padding: 8px 10px;
  text-align: left;
}

.wp-block-site-prober-log-viewer thead th {
  background: #f6f7f7;
  font-weight: 600;
}

.wp-block-site-prober-log-viewer tbody tr:nth-child(odd) {
  background: #f9f9f9;
}

.wp-block-site-prober-log-viewer .column-description {
  max-width: 400px;
  word-break: break-word;
}

/*
 .wp-block-liaison-site-prober-viewer {
  table.wp-list-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
  }

  .wp-list-table th,
  .wp-list-table td {
    padding: 8px 10px;
    border: 1px solid #ccd0d4;
    text-align: left;
    vertical-align: top;
  }

  .wp-list-table thead th {
    background: #f6f7f7;
    font-weight: 600;
  }

  .wp-list-table.striped tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }

  .column-description {
    max-width: 400px;
    word-break: break-word;
  }
}
*/

